footer{
    background: $colorBlue;
    width: 100%;
    height: auto;
    text-align: center;
    p{
        color: white;
        font-weight: 200;
        letter-spacing: 2px;
        font-size: 18px;
        padding-top: 20px;
    }
}